################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Orca_FO-v2.12.0/v16
/.vs
/Orca_FO-v2.12.0/bin/Debug
/Orca_FO-v2.12.0/obj/Debug
